@media (max-width: 480px) {
  body {
    background-color: aqua;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .navbar {
    outline: 2px solid red;
    max-width: 480px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .icons-left {
    margin-right: auto;
    display: flex;
    gap: 2rem;
  }

  .icons-right {
    display: flex;
    gap: 2rem;
  }
}
